.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 140px;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}


.cubespinner {
  -webkit-animation-name: spincube; /* Vendor prefix for webkit browsers */
  -moz-animation-name: spincube; /* Vendor prefix for mozilla browsers */
  -o-animation-name: spincube; /* Vendor prefix for opera browsers */
  animation-name: spincube;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -o-animation-duration: 12s;
  animation-duration: 12s;

  transform-style: preserve-3d;
  transform-origin: 100px 100px 0px;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }
  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateX(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@-webkit-keyframes spincube {
  /* Vendor prefix for webkit browsers */
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  /* Add the following rules */

  16% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -o-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -o-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    -webkit-transform: rotateY(-270deg) rotateZ(90deg);
    -moz-transform: rotateY(-270deg) rotateZ(90deg);
    -o-transform: rotateY(-270deg) rotateZ(90deg);
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

@-moz-keyframes spincube {
  /* Vendor prefix for mozilla browsers */
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  /* Add the following rules */

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

@-o-keyframes spincube {
  /* Vendor prefix for opera browsers */
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  /* Add the following rules */

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

@keyframes spincube {
  /* Standard keyframes */
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  /* Add the following rules */

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: 768px){
  .about-page{
    left: 0px;
    .text-zone{
      position: relative;
      left: -5px;
      top: 120px;
      width: 100%;
      box-sizing: border-box;
      transform: none;
      padding: 15px;
      box-sizing: border-box;
      margin: auto;
    }
    
    .stage-cube-cont{
      position: relative;
      height: 350px;
      width: auto;
      top: 103px;
    }
  }
}
