$primary-color: #ffd700 !default;

.portfolio-page {
  position: absolute;
  top: 39px;
  left: 230px;

  .text-zone{
    position: absolute;
    top: 20px;
  }

  h1 {
    color: $primary-color;
    font-size: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;
    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      opacity: 0.6;
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      left: -33px;
      top: -5px;
      animation: fadeIn 1s 1.7s backwards;
    }
    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      opacity: 0.6;
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      left: -33px;
      top: 63px;
      animation: fadeIn 1s 1.7s backwards;
    }
    
    .text-animate-hover{
        &:hover{
          color: #fff;
        }
      }
  }
}

@media screen and (max-width: 1200px) {
  .portfolio-page{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    left: 0px;
    top: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.text-zone{
  left: 52px;
}
}