$primary-color: #ffd700 !default;

.App {
  .page {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .top-tags {
    bottom: auto;
    top: -585px;
  }
  .bottom-tags {
    top: -80px;
  }
  .tags {
    color: $primary-color;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
  }
  .bottom-tags-html {
    top: -50px;
    left: 90px;
  }
}
