
body{
  margin: 0;
  font:  "Helvetica Neue", "san-serif";
  color: #444;
  background-color: #022c43;
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 1200px){
  body{
    overflow: visible;
  }
}