$primary-color: #ffd700 !default;

.mainContainer {
  transform: translateY(0%);
  position: relative;
  height: 100vh;

  .Hamburger,
  .close-icon {
    color: $primary-color;
    font-size: 23px;
    display: none;
  }
  nav {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    width: inherit;
    margin-top: -60px;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #4d4d4d;
      line-height: 51px;
      height: 51px;
      display: block;
      position: relative;

      i {
        transition: all 0.3s ease-out;
      }
      &:hover {
        color: $primary-color;
        svg {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: '';
        transform: translateX(-40%);
        text-align: center;
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        left: auto;
        display: block;
        width: inherit;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
      &:nth-child(2) {
        &::after {
          content: 'ABOUT';
        }
      }
      &:nth-child(3) {
        &::after {
          content: 'MY_WORK';
        }
      }
      &:nth-child(4) {
        &::after {
          content: 'CONTACT';
        }
      }
    }
    a.active {
      svg {
        color: $primary-color;
      }
    }
    &.mobile-show {
      display: block;
    }
  }
  ul {
    width: inherit;
    position: absolute;
    text-align: center;
    li {
      a {
        font-size: 15px;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 7px 0;
      }
      &:hover svg {
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    z-index: 10000;
    position: relative;
    top: 0px;
    height: 138px;
    min-height: auto;

    ul,
    nav {
      display: none;
    }
    
    nav {
      position: relative;
      width: 400px;
      height: 200px;
      background: #181818;
      top: -135px;
      left: 0;
      z-index: 10000 !important;
      margin: 0;
   
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          opacity: 1;
          position: initial;
          width: auto;
          margin-left: 25px;
        }

        svg {
          opacity: 1 !important;
        }
      }
    }
    .Hamburger,
    .close-icon {
      display: block;
      position: absolute;
      top: 25px;
      right: -475px;
    }
    .close-icon {
      position: absolute;
      right: 5px;
    }
  }
}
